{% for comment in comments %}
                          <div class="flex">
                            <div class="flex-shrink-0 mr-3">
                              <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10" src="{{ comment.author.profile_pic.url }}" alt="">
                            </div>
                            <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-2 leading-relaxed">
                              <strong>{{ comment.author }}</strong> <span class="text-xs text-gray-400">3:34 PM</span>
                              <p class="text-sm">
                               
                                {{ comment }}
                              </p>
                              
                             
                              <span id="{{ comment.id }}_replies" onclick="toggleDisplayReplies(this.id)" class="cursor-pointer mt-3 mb-1 mr-2 uppercase tracking-wide text-gray-400 font-bold text-xs replies">Replies</span> 
                              <span id="{{ comment.id }}_reply" onclick="toggleDisplayReply(this.id)" class="cursor-pointer mt-3 mb-1 ml-2 uppercase tracking-wide text-gray-400 font-bold text-xs reply">Reply</span>


                              <div style="display:none" id="{{ comment.id }}_reply_form" class="transition">
                                <form action="" method="post">
                                      {% csrf_token %}
                                  <select hidden name="parent">
                                      <option selected value="{{ comment.id }}"></option>
                                  </select>
                                  <div class="mt-2">
                                   <textarea id="id_body" name="body" rows="3" class="mt-1 p-3 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6" placeholder="Add Comment Here"></textarea>
                                 </div>
                                 <div class="py-3 text-right">
                                       <button type="submit" class="inline-flex m-0 justify-center rounded-md bg-indigo-600 py-2 px-3 text-xs font-medium text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Add Comment </button>
                                 </div>
                                </form>
                          </div>

                          <!-- Reply's thread -->
                          <div style="display:none" id="{{ comment.id }}_replies_thread">
                                {% include 'main/comment.html' with comments=comment.replies.all %}
                          </div>

                            </div>
                          </div>
                          <br>
                  {% endfor %}

