{% load static tailwind_tags %}
{% load widget_tweaks %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>All posts</title>
      {% tailwind_css %}
      <script src="https://cdn.tailwindcss.com"></script>
      <script>
            tailwind.config = {
                  theme: {
                        extend: {
                              colors: {
                                    clifford: '#da373d',
                              },
                              fontFamily: {
                                  sans: ['"SF Pro Display"', 'sans-serif']
                              } 
                  }
            }
      }
      </script>
</head>

<body>
      New User ? Sign up for new account
      <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
      </form>

          
            <div class="lg:mx-56 lg:my-4 space-y-6 sm:px-6 lg:col-span-9 lg:px-0">
          
              <form action="#" method="POST">
                <div class="shadow sm:overflow-hidden sm:rounded-md">
                  <div class="space-y-6 bg-white py-6 px-4 sm:p-6">
                    <div>
                      <h3 class= "text-center text-lg font-medium leading-6 text-gray-900">Register for DJ Blog </h3>
                      <p class="text-center mt-1 text-sm text-gray-500">Use a permanent address where you can recieve mail.</p>
                    </div>
          
                    <div class="grid grid-cols-6 gap-6">
                      <div class="col-span-6 sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
                        <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                      </div>
          
                      <div class="col-span-6 sm:col-span-3">
                        <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                        <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                      </div>
          
                      <div class="col-span-6 sm:col-span-3">
                        <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                        <input type="text" name="email-address" id="email-address" autocomplete="email" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                      </div>

                      <div class="col-span-6 sm:col-span-3">
                        <label for="email-address" class="block text-sm font-medium text-gray-700">Username</label>
                        <input type="text" name="email-address" id="email-address" autocomplete="email" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                      </div>
          
                        <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                              <label class="block text-sm font-medium text-gray-700">Photo</label>
                              <div class="mt-1 flex items-center">
                                <span class="inline-block h-12 w-12 overflow-hidden rounded-full bg-gray-100">
                                  <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                                  </svg>
                                </span>
                                <button type="button" class="ml-5 rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Change</button>
                              </div>
                            </div>
                       

                            <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                              <label for="region" class="block text-sm font-medium text-gray-700">DOB</label>
                              <input type="text" name="region" id="region" autocomplete="address-level1" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            </div>

                      <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                        <label for="region" class="block text-sm font-medium text-gray-700">Password</label>
                        <input type="text" name="region" id="region" autocomplete="address-level1" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                      </div>
          
                      <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                        <label for="postal-code" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                        <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                      </div>
                      
                    </div>
                  </div>
                  <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                    <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Register</button>
                  </div>
                </div>
              </form>
          
              
            </div>
          </div>
          
</body>
</html>